header {
  text-align: center;
  font-size: 30px;
  color: #ff6127;
}

main, html {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #692212;
}

.container {
  text-align: center;
  color: #ff6127;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #db8a34;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #b97d29;
}